/* Utils */
body{
  position: relative;
}
.bg-primary{
  background: #028484;
}
.bg-dark{
  background: #343a40;
  color: #f8f9fa;
}
.bg-info{
  background:#17a2b8 ;
}

.primary-text{
 color:#028484 ; 
}

.info-text{
  color: #17a2b8;
}

.heavy-text{
  font-weight: 500;
}
.py-1{
  padding: 10px 0;
}
.py-2{
  padding: 20px 0;
}
.py-3{
  padding: 30px 0;
}



/* Static arrow up */
.static-arrow{
  position: fixed;
  top:663px ;
  right: 25px;
  display: none;
}
/******************* Home Page *********************/
/* Header */
.main-header {
  background: url(../img/PB151879-2048x1033.jpeg) no-repeat center center/cover;
  min-height: 600px;
  position: relative;
  color:#fff;
}


.primary-overlay{
  background: rgba(69, 54, 98, 0.5);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase{
  position: absolute;
  top:200;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.active-link-bottom {
  border-bottom: 2px solid #17a2b8;
  font-weight: bold;
} 

.active-link-left {
  color:#343a40;
  font-weight: bold;
  font-size: 16px;
} 

/* section-icons */
.section-icons{
  margin-top: 20px;
}

/* Section activity */
.activity{
padding: 20px;
}
.activity h3{
  padding-bottom: 20px;
}
.activity-left{
  padding: 30px;
}

.activity-left div{
  margin: 15px 0;
  border-radius: 30px;
}

.activity-left a{
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  text-align: center;
  color: #343a40;
}


.activity-right div{
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.activity-right .atelier{
   display: block;
}
.activity-right .coordination{
   display: none;
}
.activity-right .missions-de-terrain{
   display: none;
}





/* Footer */
.footer-copyright{
  font-size: 20px;
  color: #fff!important;
}
.footer-copyright a {
  text-decoration: none;
  color: #fff;
}



/* About Page */
.main-header-inner {
  background: url(../img/PB151879-2048x1033.jpeg) no-repeat 0 -80px/cover;
  min-height: 400px;
  position: relative;
  color:#fff;
}

.showcase-inner{
  padding-top: 80px;
}

/* Tabs */
#tab1,#tab2,#tab3{text-align: justify;}
.tabs .indicator{
  background-color: #6a1b9a;
}

